@import url("https://fonts.googleapis.com/css?family=Roboto");
.title-score {
    margin-top: 50px;
    font-family: "Roboto";
    font-weight: 100;
    line-height: 1.1;
    letter-spacing: 0.025em;
    font-size: 1.6rem;
    text-decoration: underline;
}