.card {
    margin-top: 5%;
    form {
        margin: 20px;
        .btn {
            margin-top: 30px !important;
        }
    }
}

.code {
    border-left: solid 1px rgb(185, 185, 185);
    margin-top: 40px;
    padding: 10px;
    float: right;
    width: 50%;
}

.options {
    padding-top: 40px;
}