@import url("https://fonts.googleapis.com/css?family=Roboto");
.container {
  margin-top: 50px;
  .icon {
    margin-top: 60px;
    margin-left: 60px;
    width: 38px;
    height: 38px;
  }
  .result {
    font-family: "Open Sans", sans-serif;
    font-size: 2.5rem;
    color: #2e2c2c;
    padding-top: 50px;
    padding-left: 50px;
  }
  .description {
    color: #aaaaaa;
  }
}
